/* Simple grid */

.wrapper,
.col__full {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding-top: 16px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  min-height: calc(100vh - 80px);
}

.col {
  &__full,
  &__half {
    padding: 0 16px;
    width: 100%;
  }

  &__full {
    flex-direction: row;

    & + & {
      margin-top: 12px;
    }

    &:nth-of-type(4) {
      margin-top: 26px;
    }

    &:nth-of-type(5) {
      margin-bottom: 8px;
    }
  }

  &__half {
    width: 85%;

    @media (max-width: 359px) {
      padding: 0;

      &:last-of-type {
        margin-top: 12px;
      }
    }

    @media (min-width: $breakpoint-mobile) {
      width: 65%;
    }

    @media (min-width: 690px) {
      width: 50%;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  &--center {
    justify-content: center;
  }

  &--vertical {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
