/* Form elements */

label {
  & + input {
    margin-top: 4px;
  }
}

input {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: inherit;
  font-size: 16px;
  color: $color-primary;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  transition: all 0.25s ease-out;

  &:focus {
    border-bottom-color: $color-primary;
    outline: 0;
  }
}

.input-hint {
  margin-top: 8px;
  display: block;
  font-size: 14px;
  color: #777;
}
